<div>
  <%= text_field_tag "link_name", "#{i.name}", {:style => "width: 200px"} %>
  <%= text_field_tag "cfs", "#{i.cfs}", {:style => "width: 200px; display: none"} %>
  <%= select_tag "tracker_from",
    options_from_collection_for_select(@project.trackers.collect, "id", "name", i.tracker_id),
    {:style => "width: 200px"} %>
  <%= select_tag "project_to",
    project_tree_options_for_select(Project.all.active, :selected => i.child_project),
    {:onchange => "refresh_issue_link_trackers(this);", :style => "width: 200px"} %>
  <%= select_tag "tracker_to",
    options_from_collection_for_select(i.child_project.trackers.collect, "id", "name", i.child_tracker_id),
    {:style => "width: 200px"} %>
  <%= button_tag l(:label_copy_cfs), type: 'button', onclick: "send_cfs(this);" %>
  <img class="delete icon-only icon-del" title="<%= l(:button_delete) %>" onclick="$(this).closest('div').remove(); show_issue_links_label();"/>
</div>
