<%
# This file is a part of Redmine Issue Link
#
# redmine_issue_links is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# redmine_issue_links is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with redmine_issue_links.  If not, see <http://www.gnu.org/licenses/>.
-%>
<label style="display: inline-block; width: 200px; margin-left: 40px;margin-right: 22px"><%= l(:link_name) %>:</label>
<label style="display: inline-block; width: 200px"><%= l(:issue_from) %>:</label>
<label style="display: inline-block; width: 200px"><%= l(:issue_to) %>:</label>
<div class='box sortable_links'>
  <% IssueLink.where(project: @project).each do |i| %>
    <% if @project.trackers.include?(i.tracker) %>
      <div class="ui-sortable-handle sortable_link ui-sortable">
        <%= text_field_tag "link_name", "#{i.name}", {:style => "width: 200px"} %>
        <%= select_tag "tracker_from", options_from_collection_for_select(@project.trackers.collect, "id", "name", i.tracker_id), {:onchange => "refresh_trackers(this);", :style => "width: 200px"} %>
        <%= select_tag "tracker_to", options_from_collection_for_select(@project.trackers.collect, "id", "name", i.child_tracker_id), {:onchange => "refresh_trackers(this);", :style => "width: 200px"} %>
        <img src="/images/delete.png" style="" onclick="remove_link_label(this);"/>
      </div>
    <% end %>
  <% end %>
  <div style="margin-left: 25px">
    <%= text_field_tag "link_name", "", {:style => "width: 200px"} %>
    <%= select_tag "tracker_from", options_from_collection_for_select(@project.trackers.collect, "id", "name"), {:onchange => "refresh_trackers(this);", :style => "width: 200px"} %>
    <%= select_tag "tracker_to", options_from_collection_for_select(@project.trackers.collect, "id", "name"), {:onchange => "refresh_trackers(this);", :style => "width: 200px"} %>
    <img src="/images/add.png" style="" onclick="add_link_label(this);"/>
  </div>
</div>

<%= form_for :issue_links, :url => {:controller=>'issue_links', :action => 'issuelinksdata', :id => @project}, :html => {:id => 'issuelinksdata-form', :method => :post} do |f| %>
<%= hidden_field :issue_links_data, '', :id => 'issue_links_data', :name => 'issue_links_data' %>
<p><%= submit_tag l(:button_save), :onclick => "issue_links_json_data();" %></p>
<% end %>

<script>
$('.sortable_links').sortable({
  items: 'div.sortable_link',
  start: function(event, ui) {
    ui.placeholder.height(ui.item.height());
  },
  axis: 'y'
});

function add_link_label(label) {
  var old_label = $(label), new_label = $(label).parent().clone();
  new_label.children().first().val('').trigger('change');
  old_label.attr('src','/images/delete.png').attr('onclick','remove_link_label(this);');
  old_label.parent().addClass('ui-sortable-handle sortable_link');
  old_label.parent().sortable({
    connectWith: '.sortable_links'
  }).disableSelection();
  old_label.parent().css("margin-left", "0px");
  old_label.parent().parent().append(new_label);
}

function remove_link_label(label) {
  $(label).parent().remove();
}

function issue_links_json_data() {
  var r = {}, i=0
  $('.sortable_links').children('div').each(function () {
    if ($(this).children('#link_name').val() != "") {
      r[i++] = {
        'link_name': $(this).children('#link_name').val(),
        'tracker_from': $(this).children('#tracker_from').val(),
        'tracker_to': $(this).children('#tracker_to').val(),
      }
    }
  });
  console.log(r);
  $('#issue_links_data').val(JSON.stringify(r));
}
</script>
